<div class='input-group datepicker-wrapper'>
  <span class="input-group-addon datepickerbutton">
    <span class="glyphicon glyphicon-calendar"></span>
  </span>

  <input type="text"
    class="form-control datepicker-input"
    ng-model="date"
    ng-required="required"
    ng-disabled="disabled"
    ng-value="date"
    >

  <span class="input-group-btn" ng-show="showClearButton">
    <button class="btn btn-default" type="button" ng-click="clearValue()" ng-disabled="disabled">
      <span class="glyphicon glyphicon-remove"></span>
    </button>
  </span>
 </div>
