<!DOCTYPE html>
<html ng-app="TestApp">
  <head>
    <title>AngularJS bootstrap3 datetime picker</title>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="dist/terebinth-datetimepicker.js"></script>

    <link rel="stylesheet" media="all" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" media="all" href="bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" />
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <terebinth-datetimepicker
            ng-model="date"
            format="YYYY-MM-DD"
            required="true"
            disabled="false"
            >
          </terebinth-datetimepicker>
        </div>

        <div class="col-sm-6">
          <terebinth-datetimepicker
            ng-model="date2"
            format="MMMM Do YYYY, h:mm:ss a"
            required="true"
            disabled="false"
            show-clear-button="true"
            >
          </terebinth-datetimepicker>
        </div>
        <div class="clearfix">&nbsp;</div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="well">
            Date: {{ date }}<br/>
            Date2 {{ date2 }}
          </div>
        </div>
      </div>

    </div>

    <script>
      angular.module('TestApp', ['terebinth.datetimepicker']);
    </script>
  </body>
</html>
